<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HandyPicking"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.dataServer.dataServerDetail.DataServerDetailActivity"
            android:exported="false"
            android:parentActivityName=".activity.dataServer.dataServerMS.DataServerMSActivity"/>
        <activity
            android:name=".activity.dataLocal.DataActivity"
            android:exported="false"
            android:label="Data"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.menu.MenuActivity" />
        <activity
            android:name=".activity.dataServer.dataServerMS.DataServerMSActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.menu.MenuActivity" />
        <activity
            android:name=".activity.dataLocal.DataLocalActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.menu.MenuActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.picking.pickingMS.PickingMSActivity"
            android:exported="false"
            android:label="Handy Picking Header"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.menu.MenuActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.setting.SettingActivity"
            android:exported="false"
            android:label="Setting"
            android:parentActivityName=".activity.menu.MenuActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.menu.MenuActivity"
            android:exported="true"
            android:label="Handy Picking Double Check">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.picking.pickingDetail.PickingDetailActivity"
            android:exported="false"
            android:label="Handy Picking Detail"
            android:parentActivityName=".activity.picking.pickingMS.PickingMSActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>