<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
	    <add
			name="HANDY_PICKING_Entities"
			connectionString="metadata=res://*/Resources.HandyPicking_Model.csdl|res://*/Resources.HandyPicking_Model.ssdl|res://*/Resources.HandyPicking_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=App.takako.vn;initial catalog=HANDY_PICKING_TEST;persist security info=True;user id=sa;password=Login@W;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>